.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.menu-item-list {
  margin: 20px auto;
  width: 80%;
}

.menu-item-list table {
  width: 100%;
  border-collapse: collapse;
}

.menu-item-list th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}

.menu-item-list th {
  background-color: #f4f4f4;
}

.menu-item-list img {
  border-radius: 8px;
}
